.slideshow-container {
  position: relative;
  overflow: hidden;
  /* width: 50rem; */
  width: 30vw;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.slideshow-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.slideshow-icons {
  display: flex;
  gap: 4rem;
  padding: 0 2rem;
  align-items: center;
} 

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.html-icon {
  color: #e34c26;
  font-size: 3.5rem;
}
.css-icon {
  color: #264de4;
  font-size: 3.5rem;
}
.js-icon {
  color: #f0db4f;
  font-size: 3.5rem;
}
.react-icon {
  color: #61dbfb;
  font-size: 3.5rem;
}
.node-icon {
  color: #68a063;
  font-size: 3.5rem;
}
.git-icon {
  color: #f1502f;
  font-size: 3.5rem;
}


@media screen and (max-width: 1000px) {
  .slideshow-container {
    width: 70vw;
  }
}

@media screen and (max-width: 1200px) {
  .slideshow-container {
    width: 70vw;
  }
}