.home-wrapper {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.home-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 200vh;
    /* height: auto; */
    width: 100vw;
    background-image: radial-gradient(
        circle at var(--x, 50%) var(--y, 50%),
        rgba(2, 255, 255, 0.2),
        transparent 20%
    );
    background-size: cover;
    z-index: -1;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.name-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        z-index: 2;
        padding: 20px;
        border-radius: 10px;
        text-transform: uppercase;
        opacity: 0;
        animation: homeHeading 3s ease-in forwards;
    }

    @keyframes homeHeading {
        to {

            transform: translate(-50%, -90%);
            opacity: 1;
        }
    }

.content-container {
    border-radius: 30px;
    border: 10px solid #6200B3;
    box-shadow: #8e03ff 2px  2px  8px  8px;
    height: auto;
    width: 80vw;
    position: relative;
    z-index: 1;
    margin-top: 4rem;
    margin-bottom: 10rem;
    pointer-events: auto;
}

.video-box {
    position: relative;
    width: 80vw;
    height: auto;
    z-index: 1;
}

.video-back {
    width: 100%;
    height: auto;
    border-radius: 20px;
    z-index: 1;
}

#browse-section {
    width: 80vw;
    height: 100vh;
}

.arrow {
        border: solid rgb(255, 255, 255);
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        animation: arrowHeading 3s ease-in forwards;
        opacity: 0;
        z-index: 2;
}

@keyframes arrowHeading {
    to {

        opacity: 1;
    }
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
  }
