/* browse selection och efter */

#browse-section {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    position: relative;
    perspective: 2000px;
}


  .project-cards {
    height: 600px;
    width: 20vw;
    transform-style: preserve-3d;
    transition: all 1s  ease;
    perspective: 45em;
    border-radius: 15px;
    margin-top: 3rem;
    box-shadow: #8e03ff 2px  2px  8px  8px;
    border: 4px solid #6200B3;
    background-color: rgba(101, 2, 126, 0.3);
  }

  .project-cards:hover{
    transform: rotateY(180deg);
  }

  .the-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color:rebeccapurple ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

   .the-back {
    position: absolute;
    width: 100%;
    height: 600px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    overflow: hidden;
  }

  .img-wrapper {
    width:100%;
    height: 200px;
    display: flex;
    animation: slide 10s infinite;
  }

  .img-slide{
    width: 20vw;
    height: auto;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0 ;
  }

  .link-box-style {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  @keyframes slide {
    0%   { transform: translateX(0); }
    30%  { transform: translateX(0); }
    33%  { transform: translateX(-100%); }
    63%  { transform: translateX(-100%); }
    66%  { transform: translateX(-200%); }
    96%  { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }

  @media (max-width: 1200px) {
    #browse-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-cards {
        width: 40vw;
    }
    .img-slide {
        width: 40vw;
    }
  }