.top-navigation {
    width: 80vw;
    display: flex;
}
.top-nav {
    display: flex;
    justify-content: flex-end;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.lang-button {
    all: unset;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin-right: 10px;
    cursor: pointer;
}
#flag1, #flag2 {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}