 
 .menu-button {
     all:unset;
    border-radius: 10px;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    font-size:2rem; 
    transition: all 0.4s cubic-bezier(0.4,0,0.2,1);
    width: auto;
    height: auto; 
 }
 
.menu-button:hover {
    text-shadow: 2px 2px 4px rgb(253, 135, 0);
    transform: scale(1.15);
    filter: drop-shadow(0 0 3px #ffd700) drop-shadow(0 0 12px #ffd700);
}

 .test3 {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
        
} 

.modal-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    position: fixed;
    background-color: rgb(14, 45, 73);
    border-radius: 15px;
    border: 1px solid rgb(175, 167, 179);
}

#list-style {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    padding-right: 3rem;
    z-index: 10;
    transition: 2s ease-in-out;
}

.link-style {
    padding: 0.3rem;
    width: 7rem;
    border-radius: 15px;
    z-index: 10;
}

.link-style:hover{
    background-color:#1a70bb ;
    color: rgb(34, 31, 31);
    transition: 0.2s ease-in;
}

#link-decor {
    text-decoration: none;
}

#close-modal {
    border-radius: 15px;
    background-color: rgb(202, 45, 45);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

#close-modal:hover {
text-decoration: underline;
cursor: pointer;
}