#root {
  text-align: center;
}

main {
  /* height: 100Vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  

}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  width: 80vw;
}

#navigation-container {
  display: flex;
  justify-content: center;
    background-image: linear-gradient(to bottom, rgba(102, 76, 156, 0.5), rgba(23, 17, 35, 0.5));
    background-blend-mode: multiply;
    padding: 0.3rem
}