#root {
  text-align: center;
}

main {
  /* height: 100Vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  

}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 7rem;
}